<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyun.main.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.xiaoyun.main.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="businessLicense" jdbcType="VARCHAR" property="businesslicense" />
    <result column="isUpLoad" jdbcType="VARCHAR" property="isupload" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="addressId" jdbcType="BIGINT" property="addressid" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="headImgUrl" jdbcType="VARCHAR" property="headimgurl" />
    <result column="isComplete" jdbcType="VARCHAR" property="iscomplete" />
    <result column="companyName" jdbcType="VARCHAR" property="companyname" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, businessLicense, isUpLoad, openid, phone, addressId, status, unionid, nickname, 
    sex, province, city, country, detail, language, headImgUrl, isComplete, companyName, 
    createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiaoyun.main.model.User">
    insert into user (id, name, businessLicense, 
      isUpLoad, openid, phone, 
      addressId, status, unionid, 
      nickname, sex, province, 
      city, country, detail, 
      language, headImgUrl, isComplete, 
      companyName, createTime, updateTime
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{businesslicense,jdbcType=VARCHAR}, 
      #{isupload,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{addressid,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, 
      #{language,jdbcType=VARCHAR}, #{headimgurl,jdbcType=VARCHAR}, #{iscomplete,jdbcType=VARCHAR}, 
      #{companyname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyun.main.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="businesslicense != null">
        businessLicense,
      </if>
      <if test="isupload != null">
        isUpLoad,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="addressid != null">
        addressId,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="unionid != null">
        unionid,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="headimgurl != null">
        headImgUrl,
      </if>
      <if test="iscomplete != null">
        isComplete,
      </if>
      <if test="companyname != null">
        companyName,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="businesslicense != null">
        #{businesslicense,jdbcType=VARCHAR},
      </if>
      <if test="isupload != null">
        #{isupload,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="addressid != null">
        #{addressid,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null">
        #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="iscomplete != null">
        #{iscomplete,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null">
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyun.main.model.User">
    update user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="businesslicense != null">
        businessLicense = #{businesslicense,jdbcType=VARCHAR},
      </if>
      <if test="isupload != null">
        isUpLoad = #{isupload,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="addressid != null">
        addressId = #{addressid,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null">
        headImgUrl = #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="iscomplete != null">
        isComplete = #{iscomplete,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null">
        companyName = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyun.main.model.User">
    update user
    set name = #{name,jdbcType=VARCHAR},
      businessLicense = #{businesslicense,jdbcType=VARCHAR},
      isUpLoad = #{isupload,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      addressId = #{addressid,jdbcType=BIGINT},
      status = #{status,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      headImgUrl = #{headimgurl,jdbcType=VARCHAR},
      isComplete = #{iscomplete,jdbcType=VARCHAR},
      companyName = #{companyname,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getUserInfo" parameterType="java.util.Map" resultType="com.xiaoyun.main.model.vo.UserVO">
	select a.id userId, a.name, a.businessLicense, a.isUpLoad,a.phone, 
		   a.addressId, a.status,a.nickname,a.sex, a.province, a.city, 
		   a.country, a.detail,a.headImgUrl, a.isComplete, a.createTime,
		   b.area,a.companyName
  		from user a
  		left join address b on a.address=b.id
  		where a.id=#{userId}
  </select>
  
  <select id="getSupplyAndBuyList" parameterType="java.util.Map" resultType="com.xiaoyun.main.model.vo.SupplyAndBuyVO">
  		SELECT id, categoryId1, categoryId2, title, detile, price, pictureUrls, userId, tagIds, 
    			`status`, clicks, createTime, updateTime, managerId,`type`,unit,`count`,endTime 
    		FROM 
    		(SELECT id, categoryId1, categoryId2, title, detile, price, pictureUrls, userId, tagIds, 
    			`status`, clicks, createTime, updateTime, managerId,`type`,unit,`count`,endTime
		FROM supply a where a.userId=#{userId} 
			UNION ALL
			SELECT id, categoryId1, categoryId2, title, detile, price, pictureUrls, userId, tagIds, 
    			`status`, clicks, createTime, updateTime, managerId,`type`,unit,`count`,endTime 
    	FROM buy b where b.userId=#{userId}) t 
    		ORDER BY t.updateTime DESC
  </select>
  
  <select id="getCollectList" parameterType="java.util.Map" resultType="com.xiaoyun.main.model.vo.CollectVO">
  		SELECT id, categoryId1, categoryId2, title, detile, price, pictureUrls, userId, tagIds, 
    			`status`, clicks, createTime, updateTime, managerId,`type`,unit,`count`,endTime,collectTime 
    		FROM 
    		(SELECT t1.createTime collectTime,a.* FROM collect t1 
    			LEFT JOIN supply a ON t1.supplyId=a.id AND t1.collectType='supply' where t1.userId=#{userId}
			UNION ALL
				SELECT t2.createTime collectTime,b.* FROM collect t2 
				LEFT JOIN buy b ON t2.buyId=b.id AND t2.collectType='buy' where t2.userId=#{userId}) t 
			ORDER BY t.collectTime DESC 
  </select>
</mapper>